body{
    background-color: tomato;
    color: white;
}

#figcaption{
    font-family: Arial, Helvetica, sans-serif;
    color:green;
    font-size: 30px;
    text-align: center;
}

#figcaption:hover{
    color: aquamarine;
    background-color: black;
}